.shipping-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.shipping-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.shipping-information {
    margin-bottom: 10px;
}

.active {
    font-weight: bold;
    color: #5e6977;
    border-bottom: 2px solid #5e6977;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 10px;
}

.button-continue {
    border-left: 1px solid #e1e8ee;
    color: #7DC855;
    font-weight: 500;
    font-size: 12pt;
    background-repeat: no-repeat;
    background-position: right 50px center;
}

.button-container {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;
}

.button-master-container {
    padding-top: 18px;
    padding-bottom: 5px;
}