@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
    height: 100vh;
    width: 100%;
    font-family: "Source Sans Pro", "sans-serif";
}

.app {
    display: flex;
    position: relative;
    height: 100vh;
}

#root > div > main > div.MuiContainer-root.MuiContainer-maxWidthLg.css-1f2kw6w-MuiContainer-root > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.css-1idn90j-MuiGrid-root > div > div.MuiDataGrid-root.MuiDataGrid-autoHeight.MuiDataGrid-root--densityStandard.MuiDataGrid-withBorderColor.css-6h1dhi-MuiDataGrid-root > div.MuiDataGrid-main.css-204u17-MuiDataGrid-main > div:nth-child(3) {
    display: none;
}
